.promotion-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.promotion-form__group label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
}


.promotion-form__group input {
  border: 1px solid #AAAAAA;
  border-radius: 8px;
  background-color: #fff;
  height: 36px;
  padding: 0 10px;
}
